.project
.cproject
.pydevproject
__pycache__/
*.pyc
*.egg-info/
build/lib/
build/bdist.linux-x86_64/
dist/
/.metadata/
*.svg
*.pkl
*#
*.doctree
MANIFEST.in
docs/build/.doctrees/*
docs/_build/develop/.doctrees/*

finnpy/data/src_rec/*

/mnt/data/Professional/projects/finnpy/latest/finnpy/data/src_rec/anatomical/*

finnpy/demo/functionality/src_rec/test.py
finnpy/demo/functionality/src_rec/test2.py
finnpy/demo/functionality/src_rec/test_backup.py
finnpy/demo/functionality/src_rec/testb.py
finnpy/demo/functionality/src_rec/test2.py

finnpy_speedups/.settings/*
finnpy_speedups/Debug/*
finnpy_speedups/Release/*
finnpy_speedups/include/npy.hpp
