img {
    background-color: transparent !important;
}

.only-dark {
    display: none;
}

html[data-theme="dark"] .only-dark {
    display: block;
}

html[data-theme="dark"] .only-light {
    display: none;
}